*
{
    margin: 0;
    padding: 0;
    font-family: serif;
    
}



/*------ Navigation -------------*/

header
{
    width: 100%;
    height: 54px;
    background: black;
    position: fixed;
    padding-bottom: 50px;
}
.nav-bar
{
    float: right;
	
    
}
.nav-bar ul li
{
    list-style: none;
    display: inline-block;
}
.nav-bar ul li a
{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
    color: white;
    font-size: 17px;
    font-weight: 600;
    
}
.nav-bar ul li a:hover
{
    background: #fff;
    color: black;
    
}

.first_page
{
    
    background-color: aquamarine;
    
}

/*------------------------------ Research -----------------------*/
.blazar_intro
{
   padding-bottom: 50px;
    padding-top: 50px;
    
}

.blazar_intro h1 
{
    margin-top: 30px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
        
}

.blazar_intro p
{
    padding: 20px 20px 20px 20px;
    font-size: 18px;
    text-align: justify;
}
.blazar_intro figure
{
display: block;
 text-align: center; 
}
.blazar_intro figure img
{
  padding: 4px;
  width: 700px;
      
  
}

.blazar_intro figcaption {
  
  
  padding: 2px;
  font-size: 14px;    
  
}
.blazar_intro ul
{
    padding: 20px 20px 20px 20px;
    font-size: 16px;
    text-align: justify;
}
.blazar_intro h2
{
    padding-left: 20px;
    
}
.blazar_intro span
{
    color: blue;
}


