*
{
    margin: 0;
    padding: 0;
    font-family: serif;
    
}



/*------ Navigation -------------*/

header
{
    width: 100%;
    height: 54px;
    background: black;
    position: fixed;
    padding-bottom: 50px;
}
.nav-bar
{
    float: right;
	
    
}
.nav-bar ul li
{
    list-style: none;
    display: inline-block;
}
.nav-bar ul li a
{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
    color: white;
    font-size: 17px;
    font-weight: 600;
    
}
.nav-bar ul li a:hover
{
    background: #fff;
    color: black;
    
}

.first_page
{
    
    background-color: aquamarine;
    
}

/*------------------------------ Research -----------------------*/
.blazar_intro
{
   padding-bottom: 50px;
    padding-top: 50px;
    
}

.blazar_intro h1 
{
    margin-top: 30px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
        
}

.blazar_intro p
{
    padding: 20px 20px 20px 20px;
    font-size: 18px;
    text-align: justify;
}
.blazar_intro figure
{
display: block;
 text-align: center; 
}
.blazar_intro figure img
{
  padding: 4px;
  width: 700px;
      
  
}

.blazar_intro figcaption {
  
  
  padding: 2px;
  font-size: 14px;    
  
}
.blazar_intro ul
{
    padding: 20px 20px 20px 20px;
    font-size: 16px;
    text-align: justify;
}
.blazar_intro h2
{
    padding-left: 20px;
    
}
.blazar_intro span
{
    color: blue;
}




/*----------------------------- AGN ----------------------------*/

.agn_home p
{
    text-align: center;
    margin-top: 30%;
}
#toc_container {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #aaa;
    display: table;
    font-size: 95%;
    margin-bottom: 1em;
    padding: 20px;
    width: auto;
    margin-top: 70px;
    margin-left: 20px;
}

.toc_title {
    font-weight: 700;
    text-align: center;
}

#toc_container li, #toc_container ul, #toc_container ul li{
    list-style: outside none none !important;
}

.main_content
{
 margin-left: 20px;
 margin-right: 20px;    
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  width:50% ;
  text-align: center;
}
.obs-log {
	
	margin-bottom: 40px;
	margin-left: 20px;
